button {
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  margin-bottom: 28px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  background-color: #fff;
}
.select {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 280px;
  height: 60px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
